/* Paleta de Cores usada */

:root {
  --my-dark: #0b0f1a;
  --my-blue: #2563eb;
  --my-purple: #7c3aed;
  --my-green: #03c01c;
  --light-color: #e5e7eb;
}

body {
    font-family: Arial, Helvetica, sans-serif;

    background: linear-gradient(45deg,
    var(--my-blue),
    var(--my-purple),
    var(--my-dark)
    );

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 97.5vh;
}

h1 {
    color: var(--light-color);
}

label {
    font-weight: 700;
}

section {
    background: linear-gradient(
    135deg,
    #f8f5ff,
    #ede7ff,
    #e4dcff
    );
    padding: 30px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;  
}

.show-grades {
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    height: 250px;
    overflow-y: auto;
}

input {
    color: var(--my-dark);
    height: 30px;
    border-radius: 10px;
}

button {
    font-weight: 700;
    border-radius: 10px;
    border: 2px solid var(--my-dark);
    transition: all ease .2s;
}

button:hover {
    border: none;
    transform: scale(1.2);
}

.btn-add {
    width: 90px;
    height: 30px;
    color: var(--my-green);
    background-color: var(--light-color);
}

.btn-add:hover {
    color: var(--light-color);
    background-color: var(--my-green);
}
    

.btn-calculate {
    width: 100px;
    height: 50px;
    color: var(--my-blue);
    background-color: var(--light-color);
}

.btn-calculate:hover {
    color: var(--light-color);
    background-color: var(--my-blue);
}

.average-text {
    font-weight: 700;
    transition: all ease .2s;
}

.average-text:hover {
    transform: scale(1.5);
}
